Viewer/Connected Services/SR_Person/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Person" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Person_QueryAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllData" />
  </wsdl:message>
  <wsdl:message name="IService_Person_QueryAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Person_AddData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddData" />
  </wsdl:message>
  <wsdl:message name="IService_Person_AddData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Person">
    <wsdl:operation name="QueryAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Person/QueryAllData" message="tns:IService_Person_QueryAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Person/QueryAllDataResponse" message="tns:IService_Person_QueryAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Person/AddData" message="tns:IService_Person_AddData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Person/AddDataResponse" message="tns:IService_Person_AddData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Person" type="tns:IService_Person">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAllData">
      <soap:operation soapAction="http://tempuri.org/IService_Person/QueryAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <soap:operation soapAction="http://tempuri.org/IService_Person/AddData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Person">
    <wsdl:port name="BasicHttpBinding_IService_Person" binding="tns:BasicHttpBinding_IService_Person">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceProvider/Service_Person/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>